@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .content-collapse {
        background-color: #F6F6F6;
        margin-top: -5px;
        transition: all 0.4s;
        padding: 15px 20px;
    }
    .container-banner {
        margin: 20px;
        height: 110px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-radius: 25px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        position: relative;
        padding: 30px;
    }

    .container-banner::before {
        content: '';
        height: inherit;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 25px;
        background-color: rgba(0, 0, 0 ,0.6);
    }

    .img-card {
        border-radius: 10px;
        object-fit: cover;
        width: 100%;
        height: 255px;
        position: relative;
    }

    .img-card::before {
        content: '';
        position: absolute;
        height: inherit;
        width: inherit;
        top: 0;
        left: 0;
        border-radius: 10px;
        background: linear-gradient(transparent, #040404);
    }

    .container-cardList {
        border-radius: 25px;
        margin: 30 20px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        justify-content: center;
        list-style-type: none;
    }
}